#mainDiv{
    margin: 15px;
}
#titleSection{
    background-color: grey;
    text-align: center;
}
table, th, td {
    border:1px solid black;
  }

#submitDiv{
    float:right;

}
#monthlySpendDiv{
    float: right;
}

#headerRow {
    background-color: darkgray;
    color: whitesmoke;
    font-size: large;
  }

#employeeTable{
    width: 100%
}